<h3>Lets check out this watchlist by <%= @watchlist.user.username %></h3>
<h3>Location: <%= @watchlist.location.name.titleize %></h3>
<h4>Date: <%= Date.parse(@watchlist.date_created).strftime("%d of %B, %Y") %></h4>
<ul>
    <% @watchlist.get_bird_hash.each do |bird, count|%>
        <p><%=bird.titleize%></p>
        <p class="tab"> Count: <%=count%></p>
        <br>
    <% end%>
</ul>
<% if @session[:user_id] == @watchlist.user.id%>
    <form action="/watchlists/<%= @watchlist.id %>/edit">
        <input type="submit" value="Edit Watchlist">
    </form>

    <form action="/watchlists/<%= @watchlist.id %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Watchlist">
    </form>
<% end%>