<div class="container">
  <header><title>Birdhouz</title></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>BirdHouz Welcome Page</h2>

    <div class="content">
      <p>Welcome to the best watchlist tracker on the webz!</a>.</p>

      <h4>Here are some recent watchlists</h4>
      <ul>
        <% @watchlists.each do |watchlist|%>
          <p><a href="/watchlists/<%= watchlist.id %>"><%= watchlist.location.name.titleize%> on <%= Date.parse(watchlist.date_created).strftime("%m/%d/%Y") %></a></p>
          <p>By user <%= watchlist.user.username %></p>
        <% end %>
      </ul>

    </div>

    <div class="sidebar">
      <p>Users have logged <%= Bird.all.length %> different species!!</p>
    
      <h4>These are the rarest birds</h4>
      <ol>
        <% Watchlist.rare_birds.each do |bird|%>
          <li><%= bird[0].titleize %></li>
        <% end %>
      </ol>
    </div>

  </div>
</div>
